{{ define "header" }}
	{{ if eq .Params.header "blog"}}
		{{ partial "blog-header.html" . }}
	{{ else if eq .Params.header "full" }}
		{{ partial "full-header.html" . }}
	{{ else }}
		{{ partial "full-header.html" . }}
	{{ end }}
{{ end }}
{{ define "main" }}

<article id="content" class="py-8 lg:px-12 mx-auto">
	<div class="xl:px-6">
		<header class="type-wrap">
			<h1 class="font-black text-5xl leading-title alt-font mb-6">
				{{ .Title }}
			</h1>
		</header>
		<section class="type-wrap markdown">
			{{ .Content }}
		</section>
	</div>
	
</article>

{{ end }}