{{ define "main" }}
<section class="wrap py-8 lg:flex lg:px-6 xl:p-12">
  <div class="px-6 max-w-2xl mx-auto lg:ml-0 xl:mr-8">
    <h1 class="alt-font leading-none uppercase tracking-widest opacity-75 text-5xl md:text-6xl">
      ⚠️ The Blog
    </h1>
    {{ with .Content }}
    <div class="mt-6 text-sm">
      {{- . -}}
    </div>
    {{ end }}

    <div class="">
      {{ range .Paginator.Pages }}
        {{- partial "posts.html" . -}}
      {{ end }}
    </div>

  </div>
  <aside class="mx-auto max-w-2xl xl:pl-8 lg:max-w-xs">
    {{ partial "blog-resources.html" . }}
  </aside>
	
</section>
	
	{{- template "_internal/pagination.html" . -}}
{{ end }}