<div id="blog-resources" class="p-6 lg:pt-0 lg:pb-0">
  <h2 class="text-red-500 text-sm font-black mb-3 leading-tight uppercase">
    New Posts Tuesdays & Thursdays. Subscribe free.
  </h2>	
  <p class="text-sm leading-tight">
    This is a blog about how we're getting in our own way as progressive activists. Do you want an email when I write new entries?
  </p>
</div>
<div id="subscribe-to-the-blog" class="sticky top-0 p-6 xl:pt-12">
  <h2 class="text-center text-sm font-black mb-3 leading-tight uppercase">
    Get Posts in Your Inbox
  </h2>
  <form action="https://app.convertkit.com/forms/1528063/subscriptions" class="seva-form text-sm formkit-form" method="post" data-sv-form="1528063" data-uid="2f912ed968" data-version="5" min-width="400">
      <div class="w-100 mb-4">
        <label for="fields[first_name]" class="sr-only">Your first name:</label>
        <input type="text" class="appearance-none alt-font block w-full bg-gray-200 placeholder-gray-700 tracking-wider text-gray-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" aria-label="Your first name" name="fields[first_name]" placeholder="Your first name">
      </div>
      <div class="w-100 mb-4">
        <label for="email_address" class="sr-only">Your email address:</label>
        <input type="text" class="appearance-none alt-font block w-full bg-gray-200 placeholder-gray-700 tracking-wider text-gray-800 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" name="email_address" placeholder="Your email address" required="">
      </div>
        <fieldset data-group="checkboxes" class="formkit-4542" group="field" type="Custom" order="2" save_as="Tag">
          <legend class="font-black mb-2 leading-none">
            How often do you want emails?
          </legend>
          <div class="mb-2 flex items-center">
            <input class="mr-2" id="tag-4542-1727825" type="checkbox" name="tags[]" value="1727825" checked>
            <label class="leading-none" for="tag-4542-1727825">
              Every new post
            </label>
          </div>
          <div class="mb-2 flex items-center">
            <input class="mr-2" id="tag-4542-1727826" type="checkbox" name="tags[]" value="1727826">
            <label class="leading-none" for="tag-4542-1727826">
              Weekly digest of posts
            </label>
          </div>
          <div class="mb-2 flex items-center">
            <input class="mr-2" id="tag-4542-1727828" type="checkbox" name="tags[]" value="1727828">
            <label class="leading-none" for="tag-4542-1727828">
              Only when there's big news
            </label>
          </div>
        </fieldset>
      <div class="w-full mt-2">
        <button data-element="submit" class="appearance-none alt-font tracking-widest block w-full bg-red-500 text-gray-100 uppercase text-center rounded py-4 px-6 leading-none hover:bg-red-600">Subscribe</button>
      </div>
      
    </div>
  </form>
</div>