<script type="application/ld+json">
{{ if .IsHome }}
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "image": "{{ .Site.Params.logo }}",
    "sameAs": [
        "https://www.facebook.com/{{ .Site.Params.facebook }}",
        "https://www.instagram.com/{{ .Site.Params.instagram }}",
        "https://twitter.com/{{ .Site.Params.twitter }}",
        "https://github.com/{{ .Site.Params.github }}"
    ]
}
{{ else }}
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ if .Params.categories }}{{ index .Params.categories 0 }}{{ end }}",
    "name" : "{{ if .Params.seo_title }}{{ .Params.seo_title }}{{ else }}{{ .Title }}{{ end }}",
    "headline" : "{{ .Title }}",
    "image" : "{{ if .Params.featured_image }}{{ .Params.featured_image | absURL }}{{ else}}{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}{{ with $img }}{{ $img.Permalink }}{{ end }}{{ end }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else if .Params.excerpt }}{{ .Params.excerpt }}{{ else if .IsPage}}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}",
    "inLanguage" : "en-US",
    "author": {
        "@type": "Person",
        "@id": "{{ range .Site.Author }}{{ . }}{{ end }}"
    },
    "creator": {
        "@type": "Person",
        "@id": "{{ range .Site.Author }}{{ . }}{{ end }}"
    },
    "publisher": {
        "@type": "Person",
        "@id": "{{ range .Site.Author }}{{ . }}{{ end }}"
    },
    "accountablePerson": {
        "@type": "Person",
        "@id": "{{ range .Site.Author }}{{ . }}{{ end }}"
    },
    "copyrightHolder": {
        "@type": "Person",
        "@id": "{{ range .Site.Author }}{{ . }}{{ end }}"
    },
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Page.Lastmod }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}],
}{{ end }}
</script>