{{ define "header" }}
{{ partial "home-header.html" . }}
{{ end }}
{{ define "main" }}
<!-- Two columns -->
<div class="flex-none md:flex">
	<div class="md:w-1/2 lg:pl-12 md:ml-12 order-2">
		<img 
		style="max-height: 100vh"
		class="mx-auto xl:mr-0"
			srcset="
				/img/problematic-activism-cover-sam-killermann-1440w.jpg 1440w,
				/img/problematic-activism-cover-sam-killermann-1200w.jpg 1200w,
				/img/problematic-activism-cover-sam-killermann-960w.jpg 960w,
				/img/problematic-activism-cover-sam-killermann-720w.jpg 720w,
				/img/problematic-activism-cover-sam-killermann-480w.jpg 480w" 
			src="/img/problematic-activism-cover-sam-killermann-960w.jpg" 
			alt="Cover of book, Problematic Activism: Transitioning from Dogma & Disposability to Living Social Justice"/>
	</div>
	<div class="md:w-1/2 p-6 lg:p-12 order-1 md:ml-12 items-center content-center flex">
		<div class="lg:pl-6">
			<h1 class="font-black text-red-500 uppercase leading-none mb-4 lg:mb-6">Coming Soon: Problematic Activism by Sam Killermann</h1>
			<p class="font-black mb-4 lg:mb-8 text-4xl leading-none">Be the first to hear when the book is available for preorder.</p>

			<form action="https://app.convertkit.com/forms/1274324/subscriptions" class="seva-form text-sm formkit-form" method="post" data-sv-form="1274324" data-uid="a468bcb4ac" data-version="5" min-width="400" _lpchecked="1">
				<div class="flex flex-wrap">
					<div class="w-1/2 mt-4">
						<label for="fields[first_name]" class="sr-only">Your first name:</label>
						<div class="mr-4">
							<input type="text" class="appearance-none alt-font block w-full bg-gray-200 placeholder-gray-700 tracking-wider text-gray-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" aria-label="Your first name" name="fields[first_name]" placeholder="Your first name">
						</div>
					</div>
					<div class="w-1/2 mt-4">
						<label for="email_address" class="sr-only">Your email address:</label>
						<input type="text" class="appearance-none alt-font block w-full bg-gray-200 placeholder-gray-700 tracking-wider text-gray-800 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" name="email_address" placeholder="Your email address" required="">
					</div>
					<div class="w-full mt-4">
						<button data-element="submit" class="appearance-none alt-font tracking-widest block w-full bg-red-500 text-gray-100 uppercase text-center rounded py-4 px-6 leading-none hover:bg-red-600">Subscribe</button>
					</div>
					
				</div>
			</form>
		</div>
		
	</div>
</div>

{{ end }}